In [1]:
# *******************************************************
#  Lesson:  DataFrame & GeoDataFrame - Advanced Data Structures Guide
#  Author: Dr. Saad Laouadi
# *******************************************************

In [2]:
# Import the necessary tools
import pandas as pd
import numpy as np

# For GeoDataFrame section (install: pip install geopandas)
try:
    import geopandas as gpd
    from shapely.geometry import Point, Polygon
    GEOPANDAS_AVAILABLE = True
except ImportError:
    print("‚ö†Ô∏è GeoPandas not installed. Install with: pip install geopandas")
    GEOPANDAS_AVAILABLE = False

print("Environment Setup Successful!!!")

Environment Setup Successful!!!

In [3]:
# =====================================
# 1. PANDAS DATAFRAME BASICS
# =====================================

print(" PANDAS DATAFRAME BASICS")
print("="*40)

# Create DataFrame from dictionary
data = {
    'name': ['Ahmed', 'Fatima', 'Omar', 'Sara', 'Ali'],
    'age': [25, 30, 35, 28, 32],
    'city': ['Dubai', 'Muscat', 'Riyadh', 'Kuwait', 'Doha'],
    'salary': [5000, 6500, 7000, 5500, 6000],
    'department': ['IT', 'Finance', 'IT', 'HR', 'Finance']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print(f"Shape: {df.shape}")  # (rows, columns)

 PANDAS DATAFRAME BASICS
========================================
Original DataFrame:
     name  age    city  salary department
0   Ahmed   25   Dubai    5000         IT
1  Fatima   30  Muscat    6500    Finance
2    Omar   35  Riyadh    7000         IT
3    Sara   28  Kuwait    5500         HR
4     Ali   32    Doha    6000    Finance
Shape: (5, 5)

In [4]:
# =====================================
# 2. DATAFRAME EXPLORATION
# =====================================

print("\nüìä DATAFRAME EXPLORATION")
print("="*30)

# Basic info about the DataFrame
print("Data types:")
print(df.dtypes)

print("\nBasic statistics:")
print(df.describe())

print("\nFirst 3 rows:")
print(df.head(3))

print("\nColumn names:")
print(df.columns.tolist())

print("\nInfo about DataFrame:")
df.info()

üìä DATAFRAME EXPLORATION
==============================
Data types:
name          object
age            int64
city          object
salary         int64
department    object
dtype: object

Basic statistics:
             age       salary
count   5.000000     5.000000
mean   30.000000  6000.000000
std     3.807887   790.569415
min    25.000000  5000.000000
25%    28.000000  5500.000000
50%    30.000000  6000.000000
75%    32.000000  6500.000000
max    35.000000  7000.000000

First 3 rows:
     name  age    city  salary department
0   Ahmed   25   Dubai    5000         IT
1  Fatima   30  Muscat    6500    Finance
2    Omar   35  Riyadh    7000         IT

Column names:
['name', 'age', 'city', 'salary', 'department']

Info about DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        5 non-null      object
 1   age         5 non-null      int64
 2   city        5 non-null      object
 3   salary      5 non-null      int64
 4   department  5 non-null      object
dtypes: int64(2), object(3)
memory usage: 328.0+ bytes

In [5]:
# =====================================
# 3. SELECTING AND FILTERING DATA
# =====================================

print("\n SELECTING AND FILTERING")
print("="*30)

# Select single column
print("Names only:")
print(df['name'].tolist())

# Select multiple columns
print("\nName and salary:")
print(df[['name', 'salary']])

# Filter rows based on condition
print("\nPeople over 30:")
print(df[df['age'] > 30])

# Multiple conditions
print("\nIT department with salary > 5500:")
it_high_salary = df[(df['department'] == 'IT') & (df['salary'] > 5500)]
print(it_high_salary)

# Filter by city list
gcc_cities = ['Dubai', 'Muscat', 'Doha', 'Kuwait']
gcc_people = df[df['city'].isin(gcc_cities)]
print(f"\nPeople in GCC cities: {len(gcc_people)}")

 SELECTING AND FILTERING
==============================
Names only:
['Ahmed', 'Fatima', 'Omar', 'Sara', 'Ali']

Name and salary:
     name  salary
0   Ahmed    5000
1  Fatima    6500
2    Omar    7000
3    Sara    5500
4     Ali    6000

People over 30:
   name  age    city  salary department
2  Omar   35  Riyadh    7000         IT
4   Ali   32    Doha    6000    Finance

IT department with salary > 5500:
   name  age    city  salary department
2  Omar   35  Riyadh    7000         IT

People in GCC cities: 4

In [6]:
# =====================================
# 4. ADDING AND MODIFYING DATA
# =====================================

print("\n ADDING AND MODIFYING DATA")
print("="*30)

# Add new column
df['salary_usd'] = df['salary'] * 0.27  # Convert to USD (approximate)
df['experience'] = df['age'] - 22     # Assume started working at 22

# Create categorical column
df['salary_category'] = pd.cut(df['salary'], 
                              bins=[0, 5500, 6500, float('inf')], 
                              labels=['Low', 'Medium', 'High'])

print("DataFrame with new columns:")
print(df[['name', 'salary', 'salary_usd', 'salary_category']])

 ADDING AND MODIFYING DATA
==============================
DataFrame with new columns:
     name  salary  salary_usd salary_category
0   Ahmed    5000      1350.0             Low
1  Fatima    6500      1755.0          Medium
2    Omar    7000      1890.0            High
3    Sara    5500      1485.0             Low
4     Ali    6000      1620.0          Medium

In [7]:
# =====================================
# 5. GROUPING AND AGGREGATION
# =====================================

print("\nüìà GROUPING AND AGGREGATION")
print("="*30)

# Group by department
dept_stats = df.groupby('department').agg({
    'salary': ['mean', 'max', 'min', 'count'],
    'age': 'mean'
}).round(2)

print("Department statistics:")
print(dept_stats)

# Simple groupby
print("\nAverage salary by city:")
city_avg = df.groupby('city')['salary'].mean().sort_values(ascending=False)
print(city_avg)

üìà GROUPING AND AGGREGATION
==============================
Department statistics:
            salary                     age
              mean   max   min count  mean
department
Finance     6250.0  6500  6000     2  31.0
HR          5500.0  5500  5500     1  28.0
IT          6000.0  7000  5000     2  30.0

Average salary by city:
city
Riyadh    7000.0
Muscat    6500.0
Doha      6000.0
Kuwait    5500.0
Dubai     5000.0
Name: salary, dtype: float64

In [8]:
# =====================================
# 6. SORTING AND RANKING
# =====================================

print("\nüîÑ SORTING AND RANKING")
print("="*25)

# Sort by salary (descending)
print("Sorted by salary (highest first):")
sorted_df = df.sort_values('salary', ascending=False)
print(sorted_df[['name', 'salary']])

# Multiple column sorting
print("\nSorted by department, then salary:")
multi_sort = df.sort_values(['department', 'salary'], ascending=[True, False])
print(multi_sort[['name', 'department', 'salary']])

üîÑ SORTING AND RANKING
=========================
Sorted by salary (highest first):
     name  salary
2    Omar    7000
1  Fatima    6500
4     Ali    6000
3    Sara    5500
0   Ahmed    5000

Sorted by department, then salary:
     name department  salary
1  Fatima    Finance    6500
4     Ali    Finance    6000
3    Sara         HR    5500
2    Omar         IT    7000
0   Ahmed         IT    5000

In [9]:
# =====================================
# 7. WORKING WITH MISSING DATA
# =====================================

print("\n HANDLING MISSING DATA")
print("="*25)

# Create DataFrame with missing values
data_with_na = df.copy()
data_with_na.loc[1, 'salary'] = np.nan
data_with_na.loc[3, 'age'] = np.nan

print("Data with missing values:")
print(data_with_na.isnull().sum())

# Fill missing values
filled_df = data_with_na.fillna({
    'salary': data_with_na['salary'].mean(),
    'age': data_with_na['age'].median()
})

print("After filling missing values:")
print(filled_df[['name', 'age', 'salary']])

 HANDLING MISSING DATA
=========================
Data with missing values:
name               0
age                1
city               0
salary             1
department         0
salary_usd         0
experience         0
salary_category    0
dtype: int64
After filling missing values:
     name   age  salary
0   Ahmed  25.0  5000.0
1  Fatima  30.0  5875.0
2    Omar  35.0  7000.0
3    Sara  31.0  5500.0
4     Ali  32.0  6000.0

In [10]:
# =====================================
# 8. READING AND WRITING DATA
# =====================================

print("\nREADING AND WRITING FILES")
print("="*30)

# Save to CSV
df.to_csv('employees.csv', index=False)
print("Saved to employees.csv")

# Read from CSV
df_loaded = pd.read_csv('employees.csv')
print("Loaded from CSV - shape:", df_loaded.shape)

# Save to Excel (requires openpyxl: pip install openpyxl)
try:
    df.to_excel('employees.xlsx', index=False)
    print("Saved to employees.xlsx")
except ImportError:
    print("Excel export requires: pip install openpyxl")

READING AND WRITING FILES
==============================
Saved to employees.csv
Loaded from CSV - shape: (5, 8)
Excel export requires: pip install openpyxl

In [11]:
# =====================================
# 9. GEODATAFRAME BASICS (GEOSPATIAL DATA)
# =====================================

print("\nGEODATAFRAME BASICS")
print("="*25)

# Create GeoDataFrame with point coordinates
# Sample coordinates for GCC cities
geo_data = {
    'city': ['Dubai', 'Muscat', 'Riyadh', 'Kuwait', 'Doha'],
    'country': ['UAE', 'Oman', 'Saudi Arabia', 'Kuwait', 'Qatar'],
    'population': [3400000, 1560000, 7000000, 4270000, 2850000],
    'longitude': [55.2708, 58.5920, 46.6753, 47.9774, 51.5310],
    'latitude': [25.2048, 23.5859, 24.7136, 29.3117, 25.2760]
}

# Create geometry column (Point objects)
geometry = [
    Point(lon, lat) for lon, lat in zip(geo_data['longitude'], geo_data['latitude'])
]

# Create GeoDataFrame
gdf = gpd.GeoDataFrame(geo_data, geometry=geometry, crs='EPSG:4326')

print("GeoDataFrame:")
print(gdf)

GEODATAFRAME BASICS
=========================
GeoDataFrame:
     city       country  population  longitude  latitude  \
0   Dubai           UAE     3400000    55.2708   25.2048
1  Muscat          Oman     1560000    58.5920   23.5859
2  Riyadh  Saudi Arabia     7000000    46.6753   24.7136
3  Kuwait        Kuwait     4270000    47.9774   29.3117
4    Doha         Qatar     2850000    51.5310   25.2760

                  geometry
0  POINT (55.2708 25.2048)
1   POINT (58.592 23.5859)
2  POINT (46.6753 24.7136)
3  POINT (47.9774 29.3117)
4    POINT (51.531 25.276)

In [12]:
print(f"\nCoordinate Reference System: {gdf.crs}")
print(f"Geometry type: {gdf.geometry.geom_type.iloc[0]}")

Coordinate Reference System: EPSG:4326
Geometry type: Point

In [13]:
# =====================================
# 10. GEOSPATIAL OPERATIONS
# =====================================

print("\nGEOSPATIAL OPERATIONS (CORRECTED)")
print("="*40)

# Project to UTM Zone 40N 
gdf_projected = gdf.to_crs('EPSG:32640')    # UTM Zone 40N

print(f"Original CRS: {gdf.crs}")
print(f"Projected CRS: {gdf_projected.crs}")

GEOSPATIAL OPERATIONS (CORRECTED)
========================================
Original CRS: EPSG:4326
Projected CRS: EPSG:32640

In [14]:
# Calculate distances between cities (in meters, then convert to km)
dubai_point_proj = gdf_projected[gdf_projected['city'] == 'Dubai'].geometry.iloc[0]
gdf_projected['distance_to_dubai_m'] = gdf_projected.geometry.distance(dubai_point_proj)
gdf_projected['distance_to_dubai_km'] = gdf_projected['distance_to_dubai_m'] / 1000

print("\nDistances to Dubai (km):")
distance_df = gdf_projected[['city', 'distance_to_dubai_km']].sort_values('distance_to_dubai_km')
print(distance_df.round(1))

Distances to Dubai (km):
     city  distance_to_dubai_km
0   Dubai                   0.0
4    Doha                 377.4
1  Muscat                 381.5
3  Kuwait                 856.3
2  Riyadh                 873.9

In [15]:
# Create buffer zones (100km radius in meters)
gdf_projected['buffer_100km'] = gdf_projected.geometry.buffer(100000)  # 100,000 meters = 100km

# Calculate area of buffers (in square meters, then convert to square km)
gdf_projected['buffer_area_sqm'] = gdf_projected['buffer_100km'].area
gdf_projected['buffer_area_sqkm'] = gdf_projected['buffer_area_sqm'] / 1_000_000

print("\nBuffer areas (square km):")
print(gdf_projected[['city', 'buffer_area_sqkm']].round(1))

Buffer areas (square km):
     city  buffer_area_sqkm
0   Dubai           31365.5
1  Muscat           31365.5
2  Riyadh           31365.5
3  Kuwait           31365.5
4    Doha           31365.5

In [16]:
# Check which cities are within 500km of Dubai
print("\nCities within 500km of Dubai:")
near_dubai = gdf_projected[gdf_projected['distance_to_dubai_km'] < 500]
print(near_dubai[['city', 'distance_to_dubai_km']].round(1))

Cities within 500km of Dubai:
     city  distance_to_dubai_km
0   Dubai                   0.0
1  Muscat                 381.5
4    Doha                 377.4

In [17]:
# Optional: Convert back to geographic coordinates for visualization
gdf_with_buffers = gdf_projected.to_crs('EPSG:4326')

print("\nGeospatial operations completed without warnings!")
print("Important note: Always use projected CRS for geometric calculations")

Geospatial operations completed without warnings!
Important note: Always use projected CRS for geometric calculations

In [18]:
# ********************************************
# Alternative method using geodesic distance 
# (more accurate for large distances)
# ********************************************

# We need to use the geopy module
from geopy.distance import geodesic

print("\nGeodesic Distance Calculation")
print("="*40)

# Get Dubai coordinates
dubai_coords = (gdf.loc[gdf['city'] == 'Dubai', 'latitude'].iloc[0], 
                gdf.loc[gdf['city'] == 'Dubai', 'longitude'].iloc[0])

# Calculate geodesic distances (accounts for Earth's curvature)
def calc_geodesic_distance(row):
    city_coords = (row['latitude'], row['longitude'])
    return geodesic(dubai_coords, city_coords).kilometers

try:
    gdf['geodesic_distance_km'] = gdf.apply(calc_geodesic_distance, axis=1)
    print("Geodesic distances to Dubai (km):")
    print(gdf[['city', 'geodesic_distance_km']].sort_values('geodesic_distance_km').round(1))
except ImportError:
    print("‚ö†Ô∏è Install geopy for geodesic calculations: pip install geopy")

Geodesic Distance Calculation
========================================
Geodesic distances to Dubai (km):
     city  geodesic_distance_km
0   Dubai                   0.0
4    Doha                 376.9
1  Muscat                 381.6
3  Kuwait                 853.3
2  Riyadh                 869.6

In [19]:
# =====================================
# 11. GEOSPATIAL FILE OPERATIONS
# =====================================

print("\nGEOSPATIAL FILE OPERATIONS")
print("="*30)

# Save as Shapefile
try:
    gdf.to_file('gcc_cities.shp')
    print("Saved as Shapefile (gcc_cities.shp)")
except Exception as e:
    print(f"Shapefile export error: {e}")

GEOSPATIAL FILE OPERATIONS
==============================
Saved as Shapefile (gcc_cities.shp)

/var/folders/cx/fn5n187j3gvcxmbg_th_xjg00000gn/T/ipykernel_59878/3484358278.py:10: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file('gcc_cities.shp')
/opt/homebrew/Caskroom/miniforge/base/envs/gee-env/lib/python3.11/site-packages/pyogrio/raw.py:723: RuntimeWarning: Normalized/laundered field name: 'geodesic_distance_km' to 'geodesic_d'
  ogr_write(

In [20]:
# Save as GeoJSON
gdf.to_file('gcc_cities.geojson', driver='GeoJSON')
print("‚úÖ Saved as GeoJSON")

# Load back from file
try:
    loaded_gdf = gpd.read_file('gcc_cities.geojson')
    print(f"‚úÖ Loaded GeoJSON - shape: {loaded_gdf.shape}")
except Exception as e:
    print(f"‚ö†Ô∏è Loading error: {e}")

‚úÖ Saved as GeoJSON
‚úÖ Loaded GeoJSON - shape: (5, 7)

In [21]:
# =====================================
# 12. QUICK REFERENCE - ESSENTIAL OPERATIONS
# =====================================

print("\n" + "="*50)
print("üöÄ QUICK REFERENCE - ESSENTIAL OPERATIONS")
print("="*50)

print("""
üìä DATAFRAME ESSENTIALS:
- df.head()              # First 5 rows
- df.info()              # Data types and memory
- df.describe()          # Statistical summary
- df.shape               # (rows, columns)
- df['column']           # Select column
- df[df['col'] > value]  # Filter rows
- df.groupby('col').mean() # Group and aggregate
- df.sort_values('col')  # Sort by column

üíæ FILE OPERATIONS:
- pd.read_csv('file.csv')     # Read CSV
- df.to_csv('file.csv')       # Write CSV
- pd.read_excel('file.xlsx')  # Read Excel
- df.to_excel('file.xlsx')    # Write Excel

üó∫Ô∏è GEODATAFRAME ESSENTIALS:
- gpd.read_file('file.shp')   # Read spatial file
- gdf.to_file('file.geojson') # Write spatial file
- gdf.geometry.distance()     # Calculate distances
- gdf.geometry.buffer()       # Create buffers
- gdf.crs                     # Coordinate system
""")

print("\nDataFrames and GeoDataFrames Complete!")
print("Practice with real datasets to master these tools")
print("These are the building blocks for data science and GIS!")

==================================================
üöÄ QUICK REFERENCE - ESSENTIAL OPERATIONS
==================================================

üìä DATAFRAME ESSENTIALS:
- df.head()              # First 5 rows
- df.info()              # Data types and memory
- df.describe()          # Statistical summary
- df.shape               # (rows, columns)
- df['column']           # Select column
- df[df['col'] > value]  # Filter rows
- df.groupby('col').mean() # Group and aggregate
- df.sort_values('col')  # Sort by column

üíæ FILE OPERATIONS:
- pd.read_csv('file.csv')     # Read CSV
- df.to_csv('file.csv')       # Write CSV
- pd.read_excel('file.xlsx')  # Read Excel
- df.to_excel('file.xlsx')    # Write Excel

üó∫Ô∏è GEODATAFRAME ESSENTIALS:
- gpd.read_file('file.shp')   # Read spatial file
- gdf.to_file('file.geojson') # Write spatial file
- gdf.geometry.distance()     # Calculate distances
- gdf.geometry.buffer()       # Create buffers
- gdf.crs                     # Coordinate system


DataFrames and GeoDataFrames Complete!
Practice with real datasets to master these tools
These are the building blocks for data science and GIS!